*{margin: 0px;}
.wrapper{
    width: 100%;
    height: auto;
}
.tophead{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #111111;
    position: fixed;
    z-index: 10;
}
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.login_background{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 182, 182, 0.7);
}
.login_form{
    display: none;
}
.intro_banner{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 750px;
    background-color: ivory;
    z-index: 1;
}
.intro_banner_front{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 145px;
    width: 90%;
    height: 535px;
    left: 5%;
    z-index: 3;
}
.articles{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 340px;
    background-image: linear-gradient(to top, rgba(245, 245, 245), rgba(255, 255, 255, 0.8)), url("Image/Grid_Background0000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 610px;
    z-index: 2;
}
.content{
    position: absolute;
    top: 940px;
    width: 100%;
    height: auto;
    z-index: 3;
}
.content_champion{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('Image/Assassin_icon_gray.jpg');
    background-repeat: no-repeat;
    background-position-y: 280px;
    background-position-x: center;
    background-color: rgb(255, 255, 255);
}
.content_skin{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0), rgba(179, 212, 255, 0.8)), url('Image/Wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content_game_modes{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(34, 34, 34, 0.63), rgba(17, 17, 17, 1)), url('Image/Summoner_Rift_Background.jpeg');
}
.content_get_started{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #111111;
}
.content_game_news{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to top, rgba(245, 245, 245), rgba(255, 255, 255, 0.8)), url("Image/Grid_Background0000.jpg");
}
.content_footer_intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
    background-color: lightgreen;
}
.content_footer_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: rgb(6, 28, 37);
}
.footer{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #111111;
    z-index: 5;
}
@media screen and (max-width:950px){
    .content_game_news{
        height: 1100px;
    }
}